$color-primary: lightgray
// $color-primary-dark
// $color-primary-light
$color-secondary: dimgray
// $color-secondary-dark
// $color-secondary-light
$color-whitest: white
  
* 
  box-sizing: border-box
  margin: 0
  padding: 0

body 
  font-size: 14px
  font-family: monospace
  color: $color-secondary
  background: $color-primary

#root
  text-align: center
  width: 280px
  margin: 20px auto
  padding: 5px
  border: 1px solid $color-whitest
  border-radius: 5px
  background: $color-primary
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, .2)

.DurationSelector-container
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center

.TimerControler-container
  display: flex
  align-items: center
  justify-content: center

.Display-container
  padding: 10px
  margin: 10px 40px
  background: white
  h1
    font-size: 3rem
    color: $color-primary

button, .button-inactive
  display: flex
  justify-content: center
  align-items: center
  padding: 5px
  margin: 3px
  width: 70px
  height: 70px
  // border: 1px solid dimgray
  border: none
  border-radius: 100px
  font-family: monospace
  font-size: .8rem
  text-transform: uppercase
  color: lightgray
  background: white
  outline: none
  border: 1px solid #e3e3e3

button:active 
  box-shadow: 0px 0px 2px 2px rgba(255, 189, 51, .2)

.button-inactive
  border: 1px solid #e3e3e3
  background: #f3f3f3
